        <div class="container">
            <form id="form-cadastro">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="subTituloCadastro">
                            <h5>Dados cadastrais</h5>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input id="email" name="email" type="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input id="senha" name="senha" type="password" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input id="nome" name="nome" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="cpf" class="form-label">CPF</label>
                            <input id="cpf" type="number" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input id="telefone" type="number" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="nascimento" class="form-label">Nascimento</label>
                            <input id="nascimento" type="date" class="form-control">
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="subTituloCadastro">
                            <h5>Endereço de entrega</h5>
                        </div>
                        <div class="mb-3">
                            <label for="cep" class="form-label">Cep</label>
                            <input id="cep" type="number" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="rua" class="form-label">Rua</label>
                            <input id="rua" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="numero" class="form-label">Numero</label>
                            <input id="numero" type="number" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="bairro" class="form-label">Bairro</label>
                            <input id="bairro" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="cidade" class="form-label">Cidade</label>
                            <input id="cidade" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="estado" class="form-label">Estado</label>
                            <input id="estado" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary botaoSalvar">Salvar</button>
                </div>
            </form>
        </div>

    